*{
  box-sizing: border-box;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* Customize the label (the wrapper) */
.wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.wrapper input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.tick {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.wrapper:hover input ~ .tick {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.wrapper input:checked ~ .tick {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.tick:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.wrapper input:checked ~ .tick:after {
  display: block;
}
label{
  display: flex;
  align-items: center;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Alegreya', serif;
}
header{
  text-align: center;
}
.line{
  width: 80%;
  border: none;
  color: #374957;
  background-color: #374957;
}
.light {
  margin-bottom: 10px;
  height: 2px;
}
.med{
  height: 3.5px;
  margin: 20px auto;
}
.heavy{
  margin-top: 20px;
  height: 5px;
}
h1{
  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
  padding: 10px;
  background-color: #374957;
  color: white;
}
h2 {
  color: #374957;
  font-weight: 700;
}
h3 {
  color: lightslategrey;
}
form{
  width: 90%;
  margin: 5px auto;
}
fieldset{
  border:none;
}
legend{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
 input,
 #state {
   margin: .5em 1.5em .5em 0;
   padding: 1em;
   border-radius: 5px;
   background-color: #f1f1f1;
   border:  black 1px solid;
 }
 #userZip {
   width: 50%;
 }
 input:focus{
   background-color: lightblue;
   border: green 1px solid;
 }
 .contact-field input,
 .contact-field select{
   width:100%;
 }
textarea{
  width: 100%;
  margin: 5px auto;
  resize: none;
}
button{
  margin: 10px auto;
  padding: .5em;
  width: 100%;
  border-radius: 5px;
  font-size: 1.4em;
  color: white;
  border: none;
  background-color: #008080;
}
h4{
  font-weight: normal;
  text-align: center;
}
@media (min-width: 768px) {
  form{
    max-width: 1020px;
    margin: auto;
  }
  p{
    display: flex;
    justify-content: space-between;
  }
  p label {
    width: 200px;
  }
  .zip label {
    width: 159.3px;
  }
  #userZip{
    width:33%;
    margin-right: auto;
  }
  .line{
    width: 1020px;
  }
}
